    .wrapper{
        margin-top: 2rem;
        position: relative;
        align-items: center;
    }
    .day-wrapper{
        text-align: center;
        font-weight: bold;
    }
    .day-wrapper h1{
        font-size: 4rem;
    }
    .day-wrapper h2{
        font-size: 2rem;
        font-weight: 200;
    }
    .icon{
        text-align: center;
    }
    .icon img{
        width: 40%;
    }
    .weather-input{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        padding: 0 3rem;
        align-items: center;
    }
    .btn{
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-width: 5rem;
        height: 3rem;
        font-weight: bold;
        font-size: 1rem;
        padding: 3px;
        background-color: transparent;
        border-radius: 50vh;
        border: rgba(0, 0, 0, 0.24) 1px solid;
        box-shadow: -1px -1px 5px 1px rgba(130, 130, 130, 0.45);
        transition: all 0.1s ease-in-out;
    }
    .btn:active{
        background-color: rgba(82, 82, 82, 0.24);
    }
    .btn:hover{
        cursor: pointer;
    }
    .weather-info{
        text-align: center;
        width: 100%;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 1.5px;
    }

@media only screen and (min-width: 421px) and (max-width: 1023px) {
    .day-wrapper h1{
        font-size: 2rem;
    }
    .day-wrapper h2{
        font-size: 1.30rem;
    }
    .icon img{
        width: 20%;
    }
    .weather-input{
        position: fixed;
        right: 0;
        top: 10rem;
        width: 100%;
    }
    .btn{
        margin: 0 7rem;
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }
    .weather-info{
        font-size: 1.5rem;
    }

}

@media only screen and (max-width: 420px) {
    .day-wrapper h1{
        font-size: 2rem;
    }
    .weather-input{
        height: 5rem;
    }
    .weather-input::after{
        content: '';
        position: absolute;
        background-color: rgba(116, 116, 116, 0.34);
        width: 1px;
        height: 50px;
    }
}