
/*#9BCAF2*/

/*#3A4856*/

/*#9DADBC*/

/*#EDB5D0*/

    .wrapper{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .logo{
        height: 100px;
        width: 100px;
    }

    input:focus, textarea:focus, select:focus{
        outline: none;
    }

    form input{
        background-color: #FAF7FF;
        height: 4rem;
        width: 100%;
        border-radius: 50vh;
        border: 3px solid #BEBBCE;
        font-size: 2rem;
        text-align: center;
        transition: border 1s ease-in;
    }
    form input:hover, form input:active{
        border: 3px #9BCAF2 solid;
    }
    .city{
        color: black;
        font-size: 3rem;
        font-weight: bold;
        margin-top: 2rem;
    }
    .btn{
        display: none;
    }
