
/*#9BCAF2*/

/*#3A4856*/

/*#9DADBC*/

/*#EDB5D0*/
/*.wrapper{*/
/*    color: pink;*/
/*    background-color: #9BCAF2;*/
/*    display: flex;*/
/*    position: relative;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 5rem;*/
/*    width: 100%;*/
/*}*/

/*.wrapper form{*/
/*    left: 10px;*/
/*    position: absolute;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/
/*.city{*/
/*    color: #ffffff;*/
/*    font-size: 3rem;*/
/*    font-weight: bold;*/
/*}*/





/*/  Tablets in landscape mode, older desktop monitors /*/

@media only screen and (min-width: 1024px) and (max-width: 1365px) {
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.3rem;
    }

    .logo{
        height: 100px;
        width: 100px;
    }

    input:focus, textarea:focus, select:focus{
        outline: none;
    }

    form input{
        height: 4rem;
        width: 20rem;
        border-radius: 3px;
        border: 1px solid #EDB5D0;
        font-size: 2rem;
        text-align: center;
        transition: border 1s ease-in;
    }
    form input:hover, form input:active{
        border: 3px #9BCAF2 solid;
    }
    .city{
        color: black;
        font-size: 2.3rem;
        font-weight: bold;
        margin-top: 2rem;
    }
    .btn{
        display: none;
    }
}

/*/  Tablets in portrait mode, large display smartphones landscape mode /*/

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.3rem;
    }
    .logo-wrapper{
        order: 1;
    }
    .logo{
        height: 100px;
        width: 100px;
    }

    input:focus, textarea:focus, select:focus{
        outline: none;
    }

    form input{
        position: absolute;
        margin: 0 auto;
        top: 25px;
        left: 9px;
        height: 4rem;
        width: 20rem;
        border-radius: 3px;
        border: 1px solid #EDB5D0;
        font-size: 2rem;
        text-align: center;
        transition: border 1s ease-in;
    }
    form input:hover, form input:active{
        border: 3px #9BCAF2 solid;
    }
    .city{
        margin: auto;
        position: absolute;
        top: 30px;
        right: 9px;
        order: 4;
        color: black;
        font-weight: bold;
        font-size: 2rem;
    }
    .btn{
        display: none;
    }
}

/*/  Smartphones in landscape mode /*/

@media only screen and (min-width: 421px) and (max-width: 767px) {
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.3rem;
    }

    .logo{
        height: 100px;
        width: 100px;
    }

    input:focus, textarea:focus, select:focus{
        outline: none;
    }

    form input{
        height: 4rem;
        width: 20rem;
        border-radius: 3px;
        border: 1px solid #EDB5D0;
        font-size: 2rem;
        text-align: center;
        transition: border 1s ease-in;
    }
    form input:hover, form input:active{
        border: 3px #9BCAF2 solid;
    }
    .city{
        color: black;
        font-size: 2.3rem;
        font-weight: bold;
    }
    .btn{
        display: none;
    }
}

/*/  Smartphones in portrait mode  */

@media only screen and (max-width: 420px) {
    .wrapper{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .logo{
        height: 100px;
        width: 100px;
    }

    input:focus, textarea:focus, select:focus{
        outline: none;
    }

    form input{
        background-color: #FAF7FF;
        height: 4rem;
        width: 100%;
        border-radius: 50vh;
        border: 3px solid #BEBBCE;
        font-size: 2rem;
        text-align: center;
        transition: border 1s ease-in;
    }
    form input:hover, form input:active{
        border: 3px #9BCAF2 solid;
    }
    .city{
        color: black;
        font-size: 3rem;
        font-weight: bold;
        margin-top: 2rem;
    }
    .btn{
        display: none;
    }
}